<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Base template{% endblock %}</title>
    {% block header %}
    <!-- Add javascript and css libraries-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Website for online JavaScript games">
    <meta name="author" content="Karri Lehtiranta, Jonatan Lehtinen, Ville Viinikka">
    {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block navbar %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Game Store</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Store</a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a class="category" href="/category/ACT">Action</a></li>
                    <li><a class="category" href="/category/ADV">Adventure</a></li>
                    <li><a class="category" href="/category/CAS">Casual</a></li>
                    <li><a class="category" href="/category/RAC">Racing</a></li>
                    <li><a class="category" href="/category/RPG">RPG</a></li>
                    <li><a class="category" href="/category/SPO">Sports</a></li>
                    <li><a class="category" href="/category/STR">Strategy</a></li>
                    <li><a class="category" href="/category/OTH">Other</a></li>
                  </ul>
                </li>

              </ul>
              <form id="search" class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" name="query" id="query" class="form-control" placeholder="Search for a game">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>

              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}

                <!-- if user is player put my games and if developer put Manage games
                {% if user.type.Developer%}
                <li><a href="#">Manage Games</a></li>
                {% else %} <li><a href="#">My Games</a></li>
                {% endif %}
              -->
                <li><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                <li><a href="#">Register</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}

      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
