body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333;
  counter-reset: page;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

.dropdown-toggle{
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
}

.navbar {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

main {
	margin: 0 auto;
	max-width: 30em;
	padding: 1em;
}

#gamesDiv {
  display: inline-block;
  background-color: #eee;
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  width: 100%;
}
