{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Online Game Store{% endblock %}

{% block header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}?v=<?=time();?">
<link rel="stylesheet" type="text/css" href="{% static 'info.css' %}?v=<?=time();?">
<!-- Open Graph Markup for sharing on Facebook -->
<meta property="og:url"         content="{{ gameUrl }}" />
<meta property="og:type"        content="website" />
<meta property="og:title"       content="{{ game.name }}" />
<meta property="og:description" content="{{ game.description }}" />
<meta property="og:image"       content="{{ imgUrl }}" />

{% endblock %}

{% block content %}
{% static "" as baseUrl %}

  <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=394563114244785";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% if owned %}
<script>

$( document ).ready(function() {
	gameFrame = document.getElementById("gameFrame");
	window.addEventListener("message", receiveGameMsg, false);
});

function sendErrorMsg (reason)
{
	console.log("Game interaction error: " + reason);
	var message = {
		messageType: "ERROR",
		info: reason
	};

	gameFrame.contentWindow.postMessage(message, "{{game.address}}");
}

function receiveGameMsg (event)
{
	msg = event.data;
	if (!msg.messageType) {
		//sendErrorMsg("Message must include messageType field!");
		// facebook sdk sends us some messages, disable this error
		return;
	}
	$.ajaxSetup({
		url: "{% url 'gameinteraction' gameId=game.id %}",
		method: "POST",
		data: {csrfmiddlewaretoken: "{{ csrf_token }}",
			messageType: msg.messageType}
	});
	switch (msg.messageType) {
	case "SCORE":
		console.log("High score " + msg.score);
		// update score on high score list on page
		var scoreTable = document.getElementById("scoreTable");
		var scoreInserted = false;
		for (var i = 0; i < scoreTable.rows.length; i++) {
			var row = scoreTable.rows[i];
			if (!scoreInserted && row.cells[1].innerHTML <= msg.score) {
				var newrow = scoreTable.insertRow(i);
				var cell0 = newrow.insertCell(0);
				var cell1 = newrow.insertCell(1);
				cell0.innerHTML = "{{ playerUser.user.username }}";
				cell1.innerHTML = msg.score;
				cell0.className = "td-left";
				cell1.className = "td-right";
				scoreInserted = true;
				// old row is now at i+1 if we want to delete it
				i++;
			}
			if (row.cells[0].innerHTML === "{{ playerUser.user.username }}") {
				if (scoreInserted) {
					// inserted new score, delete old one
					scoreTable.deleteRow(i);
				}
				// if the new score wasn't inserted, it was
				// either lower or same as old one, so do nothing
				break;
			}
		}

		// send score to server
		$.ajax({
			data: {score: msg.score},
			fail: function(data) {
				sendErrorMsg("Ajax request for saving score failed");
			},
			success: function(data) {
				console.log("Saving score succeeded");
			}
		});
		break;
	case "SAVE":
		var stateStr = JSON.stringify(msg.gameState);
		console.log("Saving state " + stateStr);
		$.ajax({
			data: {gameState: stateStr},
			fail: function(data) {
				sendErrorMsg("Ajax request for saving state failed");
			},
			success: function(data) {
				console.log("Saving state succeeded");
			}
		});
		break;
	case "LOAD_REQUEST":
		console.log("Load request");
		$.ajax({
			fail: function(data) {
				sendErrorMsg("Ajax request for loading state failed");
			},
			success: function(data) {
				console.log("Returning state " + data.gameState);
				message = {
					messageType: "LOAD",
					gameState: JSON.parse(data.gameState)
				};
				gameFrame.contentWindow.postMessage(message, "{{game.address}}");
			}
		});
		break;
	case "SETTING":
		console.log("Settings received");
		if (msg.options) {
			if (msg.options.width) {
				gameFrame.width = msg.options.width;
				console.log("Setting game width to " + msg.options.width);
			}
			if (msg.options.height) {
				gameFrame.height = msg.options.height;
				console.log("Setting game height to " + msg.options.height);
			}
		}
		break;
	default:
		sendErrorMsg("Invalid message type " + msg.messageType);
	}
	$.ajaxSetup();
}

</script>
{% endif %}

  <div id="gamesDiv" class="game-info">
    <div class="row title-div">
      <h1 class="game-title">{{ game.name }}</h1>
      <!-- Facebook share button-->
      <div class="fb-share-button" data-href="{{ gameUrl }}" data-layout="button" data-size="small" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ gameUrl | urlencode }}&amp;src=sdkpreparse">Share</a>
      </div>
    </div>
    {% if owned %}
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-16 game-iframe">
          <iframe id="gameFrame" src="{{game.address}}"></iframe>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-8">
          <h1>Highscores</h1>
          <hr class="divider-line"></hr>
          <table id="scoreTable" class="highscores-table">
            {% for i in highscores %}
              <tr>
                <td class="td-left">{{i.name}}</td><td class="td-right">{{i.score}}</td>
              </tr>
            {%endfor%}
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-8">
          <img src="{{baseUrl}}{{game.get_category_display}}.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-4 col-sm-7 col-xs-9">
          <h2 class="game-price">{{ game.price }} EUR</h2>
          <h4 class="game-category">Category: {{ game.get_category_display}} </h4>
          <h4 class="game-divider">Game description</h4>
          <hr class="divider-line"/>
          <p class="game-description">{{ game.description }}</p>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-8">
          <img src="{{baseUrl}}{{game.get_category_display}}.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-4 col-sm-7 col-xs-9">
          <h2 class="game-price">{{ game.price }} EUR</h2>
          {% if developerUser is None %}
            <form action={% if player is not None %}"http://payments.webcourse.niksula.hut.fi/pay/" method="POST" {% else %} "/login" method="GET" {% endif %}  class="game-purchase">
              <input type="hidden" name="pid" value= "{{ pid }}" />
              <input type="hidden" name="sid" value= "{{ sid }}" />
              <input type="hidden" name="success_url" value="http://localhost:8000/games/success?id={{ game.id }}" />
              <input type="hidden" name="cancel_url" value="http://localhost:8000/game/{{game.id}}" />
              <input type="hidden" name="error_url" value="http://localhost:8000/" />
              <input type="hidden" name="checksum" value= "{{ checksum }}" />
              <input type="hidden" name="amount" value= "{{ game.price }}"/>
              <input type="hidden" name="next" value="/game/{{game.id}}"/>
              <input type="submit" value="Purchase" class="btn btn-success"/>
            </form>
          {% else %}
            <p class="game-purchase-developer">Developers can't buy games</p>
          {% endif %}
          <h4 class="game-category">Category: {{ game.get_category_display }} </h4>
          <h4 class="game-divider">Game description</h4>
          <hr class="divider-line"/>
          <p class="game-description">{{ game.description }}</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-8">
          <h1>Highscores</h1>
          <hr class="divider-line"/>
          <table class="highscores-table">
            {% for i in highscores %}
              <tr>
                <td class="td-left">{{i.name}}</td><td class="td-right">{{i.score}}</td>
              </tr>
            {%endfor%}
          </table>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
