{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Online Game Store{% endblock %}

{% block header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}?v=<?=time();?">
<link rel="stylesheet" type="text/css" href="{% static 'info.css' %}?v=<?=time();?">
{% endblock %}

{% block content %}
  <div id="gamesDiv" class="add-game">
    <div class="row title-div">
      <h1 class="game-title">Add new game</h1>
    </div>
    <div class ="row">
      <form action="/addnewgame/" method="POST"  id="gameform" class="form-horizontal">
        {% csrf_token %}
        <table class="add-game-table">
        {{form.as_table}}
        </table>
        <input type="submit" id="submitgame" class="btn btn-success" value="Add"/>
      </form>
    </div>
  </div>
{% endblock %}
