{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Online Game Store{% endblock %}

{% block header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'games.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'info.css' %}">
{% endblock %}

{% block content %}
  {% static "" as baseUrl %}

  <!-- Add links for logged in developers and players -->
  <div id="gamesDiv">
    {% if developer != None %}
    <div class="row title-div">
      <h2 class = "game-title col-md-2">Manage</h2>
      <h2 class = "game-title col-md-5">Sum of game purchases: {{sum}}</h2>
      <p class="token col-md-5">API token: {{token}}</p>

    </div>
      <div class="col-md-3 col-sm-4 col-xs-6 card-container">
        <div class="card"><a href="/addnewgame/"><span class=card-link></span></a>
          <div class="card-image">
            <img class="img-responsive" src="{{baseUrl}}plus.jpg" alt="Add a game">
            <span class="game-title">Add a game</span>
          </div>
        </div>
      </div>
    {% elif player != None %}
      <div class="row title-div">
          <h1 class="game-title">Your games</h1>
      </div>
    {% endif %}

  </div>
  <script>

  //The current offset of the page
  var articleOffset = 0;

  //Timeouts for search, so that every character typed doesn't cause a new query
  var timeout = null;
  var timeout2 = null;

  /*Sometimes timeouts aren't enough and we have to check that the proposed query
  isn't the same as the former one (prevents games showing up two times)
  */
  var lastSearch = "";

  //The main AJAX function that requests data from server and adds it to the website
  var articleLoader = function(url) {
    "use strict";
      $.ajax({
        url: url,
          success: function(data) {
            if (data.length > 0) {
              for (var i = 0; i < data.length; i++) {
                var description = data[i].description;
                var name = data[i].name;

                //Make name and description shorter if they are too long for a card
                if (typeof description !== 'undefined' && description.length > 65){
                  description = description.substr(0, 63) + '..';
                }
                if (typeof name !== 'undefined' && name.length > 14){
                  name = name.substr(0, 13) + '..';
                }

                //Create the HTML to add to the web page
                var compile_data;
                {% if developer != None %}
                  compile_data ='<div class="col-md-3 col-sm-4 col-xs-9 card-container"> <div class="card"> ' +
                    '<a href="/modify/' + data[i].id + '"><span class=card-link></span></a>' +
                    '<div class="card-image"> <img class="img-responsive" src="{{baseUrl}}'+ data[i].category + '.jpg">' +
                    '<span class="game-title">' + name + '</span></div>' +
                    '<div class="game-description"><p>'+  description + '</p>' +
                    '</div><div class="game-category">' + data[i].category +
                    '</div><div class="game-price">' + data[i].price + '€</div></div></div>';
                {% else %}
                  compile_data ='<div class="col-md-3 col-sm-4 col-xs-9 card-container"> <div class="card"> ' +
                    '<a href="/game/' + data[i].id + '"><span class=card-link></span></a>' +
                    '<div class="card-image"> <img class="img-responsive" src="{{baseUrl}}'+ data[i].category + '.jpg">' +
                    '<span class="game-title">' + name + '</span></div>' +
                    '<div class="game-description"><p>'+  description + '</p>' +
                    '</div><div class="game-category">'+ data[i].category +
                    '</div><div class="game-price">' + data[i].price + '€</div></div></div>';
                {% endif%}
                $('#gamesDiv').append(compile_data);
              }
              articleOffset += data.length;
            }
            //No games found, inform the user
            else {
              if (articleOffset === 0){
                {% if developer == None %}
  			           $('#gamesDiv').append('<p class="no-games">No games found</p>');
                {% endif %}
  						}
            }

            //Adjust font size so that the game names fit the card in every window size
            var fontSize = parseInt($(".card-image").width() / 10) + "px";
            $(".card-image span").css('font-size', fontSize);
          }
      });
  };

  /* Infinite scrolling for fetching articles */
  var $window = $(window);
  function prodScrollPosition() {
    "use strict";
    if (timeout2) clearTimeout(timeout2);
    timeout2 = setTimeout(function() {
      var distance = $window.scrollTop() + $window.height();
      if ($('body').height() <= distance && $('#gamesDiv')) {
        {% if category != None%}
          articleLoader('/api/games/?offset=' + articleOffset + '&category={{category}}');
        {% elif player != None %}
          articleLoader('/api/games/?offset=' + articleOffset + '&player=' + {{player.user.id}});
        {% elif developer != None %}
          articleLoader('/api/games/?offset=' + articleOffset + '&developer=' + {{developer.user.id}});
        {% else %}
          articleLoader('/api/games/?offset=' + articleOffset);
        {% endif %}
        }

    }, 50);
  }

  $window.scroll(prodScrollPosition).scroll();

  //Function that handles the pressing of the search button and typing events
  $(function() {
      "use strict";

  		$("#search").submit(function(event) {
  			event.preventDefault();
  			articleOffset = 0;
  			$('#gamesDiv').html("");
        var values = {};
  			$.each($('#search').serializeArray(), function(i, field) {
  			    values[field.name] = field.value;
  			});
        {% if category is not None %}
          articleLoader('/api/games/?offset=' + articleOffset + '&category={{category}}' + '&q=' + values.query);
        {% elif player is not None %}
          articleLoader('/api/games/?offset=' + articleOffset + '&player=' + {{player.user.id}} + '&q=' + values.query);
        {% elif developer is not None %}
          articleLoader('/api/games/?offset=' + articleOffset + '&developer=' + {{developer.user.id}} + '&q=' + values.query);
        {% else %}
          articleLoader('/api/games/?offset=' + articleOffset + '&q=' + values.query);
        {% endif %}
  		});

      $('#search').keyup(function(event){
        if (timeout) clearTimeout(timeout);
        timeout = setTimeout(function() {
          var q = $('#query').val();
          articleOffset = 0;
    			$('#gamesDiv').html("");
          if (lastSearch !== q){
            lastSearch = q;
            {% if category is not None%}
              articleLoader('/api/games/?offset=' + articleOffset + '&category={{category}}' + '&q=' + q);
            {% elif player is not None %}
              articleLoader('/api/games/?offset=' + articleOffset + '&player=' + {{player.user.id}} + '&q=' + q);
            {% elif developer is not None %}
              articleLoader('/api/games/?offset=' + articleOffset + '&developer=' + {{developer.user.id}} + '&q=' + q);
            {% else %}
              articleLoader('/api/games/?offset=' + articleOffset + '&q=' + q);
            {% endif %}
          }
        }, 200);
      });

  });

  //Apply font size scaling when window is resized
  $(window).resize(function() {
    "use strict";
    var fontSize = parseInt($(".card-image").width() / 10) + "px";
    $(".card-image span").css('font-size', fontSize);
  });

  </script>
{% endblock %}
