{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Online Game Store{% endblock %}

{% block header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'authentication.css' %}">
{% endblock %}

{% block content %}
<div id="gamesDiv" class="register">
    <form method="post" class="form-horizontal register-form">
        {% csrf_token %}
        <table class="register-table">
        {{ form.as_table }}
        </table>
        <div class="form-group col-md-1 col-sm-2 col-xs-2">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
    <div class="col-md-2 col-sm-2 col-xs-3 facebook">
      <form action="{% url "social:begin" "facebook" %}">
        <button class="btn btn-primary">Register with Facebook</button>
      </form>
    </div>
</div>
{% endblock %}
